body {
  background-color: yellow;
}
h1 {
  text-align: center;
}
.navbar {
  background-color: yellow;
}
.simpsons-family {
  width: 900px;
  display: block;
  margin: 0px auto;
}
.simpsons-family-img {
  max-width: 150px;
  padding: 15px;
  /* height: 150px; */
}
.img-container {
  display: inline-block;
}
#simpsons-characters-img {
  text-align: center;
}
#selected-name span {
  padding: 15px;
}
